/* /src/assets/main.css */

@import "tailwindcss";

@theme {
  /* extend the default theme with custom variables */
  --color-primary: oklch(0.53 0.12 118.34);
  /* or override the default theme */
  --breakpoint-sm: 30rem;
}

html,
body {
  background-color: #060310; /* Встановлюємо фон для всього сайту */
  margin: 0;
  padding: 0;
  height: 100%;
}


@font-face {
  font-family: 'Horizon';
  src: url('@/assets/fonts/horizon.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.horizon-font {
  font-family: 'Horizon', sans-serif;
}
.bebas_neue-font {
  font-family: 'Bebas Neue', sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/Inter-Regular.woff2') format('woff2');
  font-style: normal;
}

.inter-font {
  font-family: 'Inter', sans-serif;
}

/*@import "./base.css";*/
/**/
/*#app {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  font-weight: normal;*/
/*}*/
/**/
/*a,*/
/*.green {*/
/*  text-decoration: none;*/
/*  color: hsla(160, 100%, 37%, 1);*/
/*  transition: 0.4s;*/
/*  padding: 3px;*/
/*}*/
/**/
/*@media (hover: hover) {*/
/*  a:hover {*/
/*    background-color: hsla(160, 100%, 37%, 0.2);*/
/*  }*/
/*}*/
/**/
/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/
/**/
/*  #app {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 0 2rem;*/
/*  }*/
/*}*/
